@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* container */

.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

/* easy level container */

.easy-level-container {
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 130px 0 50px;
}

.easy-level-container h1 {
    color: #ffffff;
    font-size: 60px;
    margin: 80px 0 30px;
    text-transform: uppercase;
    padding-bottom: 10px;
    border-bottom: 2px solid white;
    text-align: center;
    width: 70%;
}

.easy-level-container a {
    text-decoration: none;
}

/* programs wrap */

.programs-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    gap: 30px;
}

/* program box */

.program-box {
    color: #ffffff;
    background-color: rgba(226, 232, 240, 0.10);
    padding: 20px 30px;
    border-radius: 10px;
    width: 1100px;
    position: relative;
}

.program-box:hover {
    cursor: pointer;
    background-color: rgba(226, 232, 240, 0.15);
}

.program-box h3 {
    font-size: 20px;
}

.program-box p {
    margin: 5px 0;
    font-size: 15px;
}

/* code button */

.code-btn {
    position: absolute;
    right: 30px;
    bottom: 20px;
    margin: 15px 0 0;
    padding: 6px 12px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border-radius: 5px;
    border: 0;
    color: #000000;
    background-color: #12c14f;
    cursor: pointer;
}

/* back to top button */

.back-to-top {
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    font-size: 18px;
    color: #ffffff;
    background-color: rgba(31, 32, 42);
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 3;
}

.back-to-top:hover {
    background-color: rgb(35, 36, 46);
}

/* responsivenesss */

@media (max-width: 1200px) {

    .program-box {
        width: 90%;
    }
}

@media (max-width: 1050px) {

    .easy-level-container h1 {
        font-size: 55px;
    }

    .program-box {
        width: 100%;
    }
}

@media (max-width: 850px) {

    .easy-level-container h1 {
        font-size: 45px;
        margin: 40px 0 30px;
    }

    .program-box p,
    .topics {
        width: 400px;
    }
}

@media (max-width: 650px) {

    .easy-level-container h1 {
        font-size: 40px;
    }

    .program-box p,
    .topics {
        width: unset;
    }

    .code-btn {
        position: unset;
        margin-top: 30px;
    }
}

@media (max-width: 600px) {

    .easy-level-container h1 {
        font-size: 35px;
    }
}

@media (max-width: 550px) {

    .back-to-top {
        font-size: 16px;
        padding: 8px;
        right: 10px;
        bottom: 15px;
    }
}

@media (max-width: 450px) {

    .easy-level-container h1 {
        width: 350px;
        text-align: center;
    }
}

@media (max-width: 400px) {

    .easy-level-container {
        padding: 80px 0 50px;
    }

    .easy-level-container h1 {
        font-size: 30px;
        width: 280px;
    }
}