@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* container */

.container {
    min-height: 100vh;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

/* levels-container */

.levels-container {
    z-index: 1;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 130px 0 70px;
}

/* heading */

.levels-container h1 {
    color: #ffffff;
    font-size: 60px;
    margin: 80px 0 30px;
    padding-bottom: 10px;
    text-transform: uppercase;
    border-bottom: 2px solid white;
    width: 70%;
    text-align: center;
}

.levels-container h2 {
    text-transform: uppercase;
}

.levels-container p {
    margin: 2px 0;
    font-size: 16px;
}

/* levels grid */

.levels-grid {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.levels-grid a {
    text-decoration: none;
}

/* level card */

.level-card {
    position: relative;
    color: #ffffff;
    background-color: rgba(226, 232, 240, 0.10);
    padding: 20px 30px;
    border-radius: 10px;
    width: 1200px;
}

.level-card:hover {
    cursor: pointer;
    background-color: rgba(226, 232, 240, 0.15);
}

.beginner h2 {
    color: #20d761;
}

.intermediate h2 {
    color: #db7100;
}

.advanced h2 {
    color: #ff516b;
}

.level-card p {
    margin-top: 5px;
}

/* topics */

.topics {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px 0 0;
    gap: 10px;
    flex-wrap: wrap;
}

/* topics head */

.topics-head {
    background-color: rgb(53, 53, 58);
    padding: 4px 10px;
    border-radius: 5px;
    font-size: 13px;
    margin-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

/* topics box */

.topics-box {
    background-color: transparent;
    border: 1px solid #ffffff;
    border-radius: 5px;
    padding: 4px 8px;
    font-size: 13px;
}

/* get started */

.get-started {
    position: absolute;
    bottom: 20px;
    right: 30px;
    padding: 5px 10px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    background-color: transparent;
    color: #ffffff;
    font-size: 15px;
}

.get-started:hover {
    cursor: pointer;
}

/* responsiveness */

@media (max-width: 1250px) {

    .level-card {
        width: 1000px;
    }
}

@media (max-width: 1050px) {

    .levels-container h1 {
        font-size: 55px;
    }

    .level-card {
        width: 800px;
    }

    .get-started {
        position: unset;
        margin-top: 15px;
    }
}

@media (max-width: 850px) {

    .levels-container h1 {
        font-size: 45px;
    }

    .level-card {
        width: 600px;
    }
}

@media (max-width: 650px) {

    .levels-container {
        padding: 110px 0 50px;
    }

    .levels-container h1 {
        font-size: 40px;
    }

    .level-card {
        width: 400px;
    }
}

@media (max-width: 450px) {

    .levels-container h1 {
        width: 350px;
        text-align: center;
    }

    .level-card {
        width: 350px;
    }
}

@media (max-width: 400px) {

    .levels-container {
        padding: 80px 0 50px;
    }

    .levels-container h1 {
        font-size: 35px;
    }

    .level-card {
        width: 300px;
    }
}